---
layout: default
---

<div>
    {{ content }}

    <!--Faculty-->
    <div style="border: 1px solid #fff;padding:30px;border-radius: 10px">
        <div style="font-size: 30px;color: #fff;border-bottom: 1px solid #fff;padding: 10px 0;font-weight:bold;text-align: center">Faculty</div>
        <div class="custom-author-list" style="display: flex;align-items: center;justify-content: center">
            {% for author in site.authors %}
            {% if author.position contains 'Faculty' %}
            <div>
                <a class="custom-author-list-item" href="{{ author.url | absolute_url }}">
                    {% if author.picture %}
                    <img class="item-image" src="{{ author.picture }}">
                    {% else %}
                    <img class="item-image" src="{{ site.baseurl }}/assets/images/slurm_logo.png">
                    {% endif %}
                    <h3 class="item-name">{{ author.name |--> escape }}</h3>
                </a>

                <!--加入我们-->
                {% if author.Invite %}
                <a class="item-text" style="display:block;text-align: center;font-size: 28px;font-weight: bold" href="{{ site.baseurl }}/contact">{{
                    author.Invite}} </a>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!--Postdoc-->
    <div style="margin-top: 30px;border: 1px solid #fff;padding:30px;border-radius: 10px">
        <div style="font-size: 30px;color: #fff;border-bottom: 1px solid #fff;padding: 10px 0;font-weight:bold;text-align: center">Postdoc</div>
        <div class="custom-author-list">
            {% for author in site.authors %}
            {% if author.position == 'Postdoc' %}
            <a class="custom-author-list-item" href="{{ author.url | absolute_url }}">
                {% if author.picture %}
                <img class="item-image" src="{{ author.picture }}">
                {% else %}
                <img class="item-image" src="{{ site.baseurl }}/assets/images/slurm_logo.png">
                {% endif %}
                <h3 class="item-name">{{ author.name |--> escape }}</h3>
                <!--  <div class="item-position">{{ author.position }}</div> -->
                <!--  <div class="item-text">{{ author.bio | markdownify}}</div> -->
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!--Student-->
    <div style="margin-top: 30px;border: 1px solid #fff;padding:30px;border-radius: 10px">
        <div style="font-size: 30px;color: #fff;border-bottom: 1px solid #fff;padding: 10px 0;font-weight:bold;text-align: center">Student</div>
        <div class="custom-author-list">
            {% for author in site.authors %}
            {% if author.position == 'Student' %}
            <a class="custom-author-list-item" href="{{ author.url | absolute_url }}">
                {% if author.picture %}
                <img class="item-image" src="{{ author.picture }}">
                {% else %}
                <img class="item-image" src="{{ site.baseurl }}/assets/images/slurm_logo.png">
                {% endif %}
                <h3 class="item-name">{{ author.name |--> escape }}</h3>
                <!--  <div class="item-position">{{ author.position }}</div> -->
                <!--  <div class="item-text">{{ author.bio | markdownify}}</div> -->
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<!--老的列表配置-->
<!--<li>-->
<!--    <h2>-->
<!--        <a class="author-link" href="{{ author.url | absolute_url }}" title="{{ author.name }}">{{ author.name |-->
<!--            escape }}</a>-->
<!--        {{ author.position }}-->
<!--    </h2>-->
<!--    <p>{{ author.bio | markdownify}}</p>-->
<!--</li>-->
