---
layout: page
---

<ul class="posts-list">

  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
         {% assign filtered_authors = site.authors | where: 'short_name', post.author %}
         {% for author in filtered_authors %}
             <a href="{{ site.baseurl }}{{ author.url }}">{{ author.short_name }}</a>
         {% endfor %}
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}

</ul>
