---
layout: default
permalink: Preprints/
---

<div>
    {{ content }}
    <div></div>
    <ul class="post-list">
        {% for post in site.categories.Preprints %}
        <li>
            <!--{% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}-->
            <!--<span class="post-meta">{{ post.date | date: date_format }}</span>-->
            <h2>
                <a class="post-link" href="{{ post.weburl }}" title="{{ post.title }}" >
                    {{ post.title | escape }}
                </a>
            </h2>
	    <span class="post-meta">{{post.first_author}},et al.</span>
<!--            {% assign filtered_authors = site.authors | where: 'short_name', post.author %}
	    {% if filtered_authors %}
	       {% for author in filtered_authors %}
               <a href="{{ author.url | absolute_url}}">{{ author.short_name }}</a>
	       {% endfor %}
	    {% else %}
	       <a>mm</a>
	    {% endif %}  -->
        </li>
        {% endfor %}
    </ul>
</div>
