---
layout: default
permalink: Lectures/
date_format: "%Y-%m-%d" 
---

<div>

  {{ content }}

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.categories.Lectures %}
      <li>

        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
         {% assign filtered_authors = site.authors | where: 'short_name', post.author %}
         {% for author in filtered_authors %}
             <a href="/slurm{{ author.url }}">{{ author.short_name }}</a>
         {% endfor %}
        </h2>

        {{ post.excerpt | markdownify | truncatewords: 30 }}

      </li>
    {% endfor %}

  </ul>
</div>
