---
layout: default
---
<div style="color: #fff">

<!---
    <h1 class="site-title">{{ page.name }}</h1>  
--->
    {% if page.picture %}
    <img class="author-profile-image" src="{{ page.picture }}" alt="{{ page.name }}" width=150 height=100#pic-right /img>
    {% endif %}

    <div>&nbsp;</div>
    {% if page.bio %}
    <div class="author-bio">{{ page.bio }}</div>  
    {% endif %}
    {% if page.location %}
    <div class="author-location">所在地区：{{ page.location }}<br></div>  
    {% endif %}

    {{ content }}


<h2 style="color: #fff">Recent Preprints & Lectures</h2>
<ul>
  {% assign pre_posts = site.posts | where: 'author', page.short_name | where: 'category', 'Preprints' %}
  {% for post in pre_posts %}
    <li><a href="{{ post.weburl }}">{{ post.title }}</a></li>
  {% endfor %}
  {% assign lec_posts = site.posts | where: 'author', page.short_name | where: 'category', 'Lectures' %}
  {% for post in lec_posts %}
    <li><a href="/slurm{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
</div>
