---
layout: default
permalink: Talks_News/
date_format: "%Y-%m-%d"
---

<div>

    {{ content }}

    <div style="display: flex;">&nbsp;

        <div>
            {% assign postYears = "" | split: "," %}
            {% assign reversedPosts = site.categories.Talks_News %}
            {% for post in reversedPosts %}
            {% assign currentYear = post.date | date: "%Y" %}
            {% unless postYears contains currentYear %}
            <a style="
            display:block;
            text-align: center;
            border: 1px solid #ffffff;
            border-radius: 5px;
            margin-bottom: 15px;
            font-size: 20px;
            color: #ffffff;
            padding: 6px 50px;
            text-decoration: none;
        "
               href="?year={{ currentYear }}"
            >
                {{ currentYear }}
            </a>
            {% assign postYears = postYears | push: currentYear %}
            {% endunless %}
            {% endfor %}
        </div>

        <ul class="post-list" style="margin-left: 20px;flex:1">
            {% for post in site.categories.Talks_News %}
            <li class="post-item" data-year="{{ post.date | date: '%Y' }}">

                <h2>
                    <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title |
                        escape }}</a>
                </h2>
                <span class="post-meta">
                    by
		    {{ post.author }}
                    <!-- {% assign filtered_authors = site.authors | where: 'short_name', post.author %} 
                    {% for author in filtered_authors %}
                    <a href="{{ site.baseurl }}{{ author.url }}">{{ author.short_name }}</a>
                    {% endfor %} --!>
                    on
                    {{post.date|date:"%Y-%m-%d"}}
                </span>
                <!-- <div style="margin-top: 15px;">
                    {{ post.excerpt | markdownify | truncatewords: 30 }}
                </div> -->
            </li>
            {% endfor %}

        </ul>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var urlParams = new URLSearchParams(window.location.search);
        var year = urlParams.get('year');
        var posts = document.querySelectorAll('.post-item');
        var years = document.querySelectorAll('a[href^="?year="]');
        years.forEach(function (yearElement) {
            var yearInHref = yearElement.getAttribute('href').split('=')[1];
            if (yearInHref === year) {
                yearElement.classList.add('active-year');
            } else {
                yearElement.classList.remove('active-year');
            }
        });
        posts.forEach(function (post) {
            var postYear = post.getAttribute('data-year');
            if (year === null || postYear === year) {
                post.style.display = 'block';
            } else {
                post.style.display = 'none';
            }
        });

        years.forEach(function (yearElement) {
            yearElement.addEventListener('click', function (event) {
                event.preventDefault();
                if (yearElement.classList.contains('active-year')) {
                    yearElement.classList.remove('active-year');
                    posts.forEach(function (post) {
                        post.style.display = 'block';
                    });
                } else {
                    years.forEach(function (otherYearElement) {
                        otherYearElement.classList.remove('active-year');
                    });
                    yearElement.classList.add('active-year');
                    var yearInHref = yearElement.getAttribute('href').split('=')[1];
                    posts.forEach(function (post) {
                        var postYear = post.getAttribute('data-year');
                        if (postYear === yearInHref) {
                            post.style.display = 'block';
                        } else {
                            post.style.display = 'none';
                        }
                    });
                }
            });
        });
    });
</script>
